<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Apps</title>
</head>
<body>
    <h1>Book The Room</h1>
    <br>
    <form action="/books/booking" method="post">
        <div>
            <label for="UserId">UserId</label>
            <input type="text" name="UserId" placeholder="UserId"/>
        </div>
        <div>
            <label for="RoomId">RoomId</label>
            <input type="text" name="RoomId" placeholder="RoomId"/>
        </div>
        <input type="submit" value="Submit"/>
        <div>
            
        </div>
    </form>
</body>
</html>