<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Apps</title>
</head>
<body>
    <center><h1>Welcome To MYZ Hotels</h1>
    <hr>
    <div>
    <a href="/users/register">REGISTER NEW CUSTOMERS</a>
    </div>
    <br>
    <form action="/rooms" method="get">
        <div><button>SEE ROOM</button></div>      
    </form>
    <form action="/users" method="get">
        <div><button>SEE CUSTOMER</button></div>      
    </form>
</center>
</body>
</html>